/* reset */
$base-bg: #fff;
$base-text-color: #312e2e;
$base-fs: 18px;
$base-line-height: 160%;
$base-font-family: "Gotham Pro", sans-serif;
$second-font-family: "Akrobat", sans-serif;
/* main variables */

//text, title colors
$text-white: #fff;
$text-gray: #d2cccc;
$text-dark: #515151;

$title-color: #312e2e;
$title-white: #fff;
$title-gray: #d2cccc;

// background colors
$bg-footer: #312e2e;
$bg-dark: #515151;
$bg-light-gray: #f5f5f5;

// font size title
$font-size-h1: 96px;
$line-height-h1: 120%;
$font-size-h2: 48px;
$line-height-h2: 140%;
$font-size-h3: 32px;
$line-height-h3: 140%;
$font-size-h4: 26px;
$line-height-h4: 140%;

// color btn
$button-black: #312e2e;
$button-white: #fff;

// color border
$border-light-gary: #f5f5f5;
$border-dark: #515151;
$border-gary: #c4c4c4;
