.first-screen {
	position: relative;
	height: 100vh;
	min-height: 670px;
	overflow: hidden;
	.container,
	.row {
		height: 100%;
	}
	&__text {
		position: relative;
		z-index: 2;
	}
	&__title {
		font-size: $font-size-h2;
		line-height: $line-height-h2;
		letter-spacing: 0.03em;
		color: $title-color;
		margin-bottom: 64px;
		&_white {
			color: $title-white;
			margin: 68px 0 0;
		}
	}
	&__btn {
		width: 100%;
	}
	&__social-link {
		position: absolute;
		left: 40px;
		bottom: 69px;
		z-index: 10;
		.social-link__item {
			margin-right: 56px;
		}
	}
}

.slider-first {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	min-height: 670px;
	&__item {
		width: 100%;
		height: 100vh;
		min-height: 670px;
	}
	&__image-big {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		z-index: -1;
		width: 86%;
	}
	&__image-small {
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%, -50%));
		width: 640px;
		height: 640px;
		border: 15px solid $border-gray;
		> img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.slick-dots {
		left: 61.5%;
		bottom: 64px;
		> li {
			background-color: #706e6e;
			&.slick-active {
				background-color: $base-bg;
			}
		}
	}

	.slick-counter {
		bottom: 70px;
		left: 59%;
		color: #706e6e;
		.current {
			color: $text-white;
		}
	}
}

.company {
	position: relative;
	padding: 160px 0;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 689px;
		height: 493px;
		background: url(../../images/index/bg-about.svg) no-repeat center center/contain;
	}
	&__president {
		position: relative;
		width: 100%;
	}
	&__info {
		position: relative;
		.link-all {
			margin-top: 48px;
		}
	}
}

.capabilities {
	padding: 160px 0;
	&__info {
		padding-right: 92px;
		.link-all {
			margin-top: 48px;
		}
	}
	&__list {
		justify-content: space-between;
	}
	&__item {
		width: 30.4%;
		text-align: center;
		font-size: $font-size-h4;
		line-height: $line-height-h4;
		h4 {
			font-weight: 400;
		}
		> img {
			width: 100%;
			margin-bottom: 10px;
		}
	}
}

.map {
	width: 100%;
	height: 320px;
	> img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

@media only screen and (max-height: 850px) {
	.first-screen {
		&__title {
			margin-bottom: 54px;
			&_white {
				margin: 58px 0 0;
			}
		}
		&__social-link {
			bottom: 46px;
		}
	}

	.slider-first {
		&__image-small {
			margin-top: 20px;
			width: 540px;
			height: 540px;
			border: 10px solid $border-gray;
		}
		.slick-dots {
			left: 60%;
			bottom: 44px;
		}

		.slick-counter {
			bottom: 50px;
			left: 57%;
		}
	}
}

@media only screen and (max-height: 760px) {
	.first-screen {
		&__title {
			margin-bottom: 44px;
			&_white {
				margin: 48px 0 0;
			}
		}
		&__social-link {
			bottom: 32px;
		}
	}

	.slider-first {
		&__image-small {
			width: 480px;
			height: 480px;
		}
		.slick-dots {
			left: 60%;
			bottom: 24px;
		}

		.slick-counter {
			bottom: 30px;
			left: 57%;
		}
	}
}

@media only screen and (max-width: 1700px) {
	.slider-first {
		&__image-big {
			width: 82%;
		}
	}
}

@media only screen and (max-width: 1199.8px) {
}

@media only screen and (max-width: 991.8px) {
}

@media only screen and (max-width: 767.8px) {
}

@media only screen and (max-width: 575.8px) {
}
