.first-screen {
	position: relative;
	height: 100vh;
	min-height: 670px;
	overflow: hidden;
	.container,
	.row {
		height: 100%;
	}
	&__text {
		position: relative;
		z-index: 2;
	}
	&__title {
		font-size: $font-size-h2;
		line-height: $line-height-h2;
		letter-spacing: 0.03em;
		color: $title-color;
		margin-bottom: 64px;
		&_white {
			color: $title-white;
			margin: 68px 0 0;
		}
	}
	&__btn {
		width: 100%;
	}
	&__social-link {
		position: absolute;
		left: 40px;
		bottom: 69px;
		z-index: 10;
		.social-link__item {
			margin-right: 56px;
		}
	}
	.scroll-down {
		display: block;
		position: absolute;
		left: 40px;
		top: 50%;
		font-size: 16px;
		color: #d2cccc;
		padding: 0;
		@include transform(translateY(-50%));
		&::before {
			content: "";
			display: block;
			width: 1px;
			height: 100px;
			border-left: 1px solid #d2cccc;
			margin: 0 auto 18px;
		}
		p {
			@include transform(rotate(-180deg));
			writing-mode: vertical-rl;
			text-orientation: mixed;
		}
	}
}

.slider-first {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	min-height: 670px;
	&__item {
		width: 100%;
		height: 100vh;
		min-height: 670px;
	}
	&__image-big {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		z-index: -1;
		width: 86%;
	}
	&__image-small {
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%, -50%));
		width: 640px;
		height: 640px;
		border: 15px solid $border-light-gary;
		> img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.slick-dots {
		left: 61.5%;
		bottom: 64px;
		> li {
			background-color: #706e6e;
			&.slick-active {
				background-color: $base-bg;
			}
		}
	}

	.slick-counter {
		bottom: 70px;
		left: 59%;
		color: #706e6e;
		.current {
			color: $text-white;
		}
	}
}

.company {
	position: relative;
	padding: 160px 0;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 43%;
		height: 493px;
		background: url(../images/index/bg-about.svg) no-repeat top left/contain;
	}
	&__president {
		position: relative;
		width: 100%;
	}
	&__info {
		position: relative;
	}
}

.capabilities {
	padding: 160px 0;
	&__info {
		padding-right: 92px;
	}
	&__list {
		justify-content: space-between;
	}
	&__item {
		width: 30.4%;
		text-align: center;
		font-size: $font-size-h4;
		line-height: $line-height-h4;
		h4 {
			font-weight: 400;
		}
		> img {
			width: 100%;
			margin-bottom: 10px;
		}
	}
}

.map {
	width: 100%;
	height: 320px;
	> img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

@media only screen and (max-height: 850px) and (min-width: 1561px) {
	.first-screen {
		&__title {
			margin-bottom: 54px;
			&_white {
				margin: 58px 0 0;
			}
		}
		&__social-link {
			bottom: 46px;
		}
	}

	.slider-first {
		&__image-small {
			margin-top: 20px;
			width: 540px;
			height: 540px;
			border: 10px solid $border-light-gary;
		}
		.slick-dots {
			left: 60%;
			bottom: 44px;
		}

		.slick-counter {
			bottom: 50px;
			left: 57%;
		}
	}
}

@media only screen and (max-height: 760px) and (min-width: 1561px) {
	.first-screen {
		&__title {
			margin-bottom: 44px;
			&_white {
				margin: 48px 0 0;
			}
		}
		&__social-link {
			bottom: 32px;
		}
	}

	.slider-first {
		&__image-small {
			width: 480px;
			height: 480px;
		}
		.slick-dots {
			left: 60%;
			bottom: 24px;
		}

		.slick-counter {
			bottom: 30px;
			left: 57%;
		}
	}
}

@media only screen and (max-width: 1700px) {
	.slider-first {
		&__image-big {
			width: 82%;
		}
	}
}

@media only screen and (max-width: 1560px) {
	.first-screen {
		&__title {
			font-size: $font-size-h2 - 14px;
			margin-bottom: 34px;
			&_white {
				margin: 38px 0 0;
			}
		}
		&__social-link {
			left: 30px;
			bottom: 36px;
			.social-link__item {
				margin-right: 26px;
			}
		}
		.scroll-down {
			left: 20px;
		}
	}

	.slider-first {
		&__image-big {
			width: 88%;
		}
		&__image-small {
			width: 460px;
			height: 460px;
			border: 10px solid $border-light-gary;
		}
		.slick-dots {
			left: 61%;
			bottom: 30px;
		}

		.slick-counter {
			bottom: 40px;
			left: 57%;
		}
	}

	.company {
		&::before {
			height: 378px;
		}
	}
}

@media only screen and (max-width: 1360px) {
	.slider-first {
		&__image-big {
			width: 86%;
		}
	}
}

@media only screen and (max-width: 1199.8px) {
	.first-screen {
		height: 640px;
		min-height: inherit;
		&__title {
			font-size: $font-size-h3;
			line-height: $line-height-h3;
		}
		&__social-link {
			bottom: 46px;
			left: 20px;
			.social-link__item {
				margin-right: 20px;
			}
		}
		.scroll-down {
			display: none;
		}
	}

	.slider-first {
		height: inherit;
		min-height: inherit;
		&__item {
			height: 640px;
			min-height: inherit;
		}
		&__image-big {
			width: 89%;
		}
		&__image-small {
			width: 400px;
			height: 400px;
		}
		.slick-dots {
			bottom: 50px;
		}

		.slick-counter {
			bottom: 54px;
			left: 56%;
		}
	}

	.company {
		padding: 80px 0;
		&::before {
			height: 278px;
		}
	}

	.capabilities {
		padding: 80px 0;
		&__info {
			padding-right: 42px;
		}
		&__item {
			font-size: $font-size-h4 - 6px;
		}
	}
}

@media only screen and (max-width: 991.8px) {
	.first-screen {
		height: 440px;
		&__title {
			font-size: $font-size-h4;
			line-height: $line-height-h4;
		}
		&__social-link {
			bottom: 26px;
		}
	}

	.slider-first {
		&__item {
			height: 440px;
		}
		&__image-big {
			width: 78%;
		}
		&__image-small {
			width: 240px;
			height: 240px;
			border-width: 5px;
		}
		.slick-dots {
			bottom: 30px;
		}

		.slick-counter {
			bottom: 34px;
			left: 54%;
		}
	}

	.company {
		padding: 50px 0;
		&::before {
			height: 230px;
		}
		&__info {
			padding-left: 30px;
		}
	}

	.capabilities {
		padding: 50px 0;
		&__info {
			padding-right: 32px;
		}
		&__item {
			font-size: $base-fs;
		}
	}

	.map {
		height: 280px;
	}
}

@media only screen and (max-width: 767.8px) {
	.first-screen {
		height: 400px;
		&__title {
			font-size: 20px;
			line-height: 120%;
		}
	}

	.slider-first {
		&__item {
			height: 400px;
		}
		&__image-big {
			width: 70%;
		}
		&__image-small {
			display: none;
		}
	}

	.company {
		&::before {
			height: 280px;
			width: 55%;
		}
		&__president {
			max-width: 360px;
			margin: 0 auto 30px;
		}
		&__info {
			padding-left: 50px;
		}
	}

	.capabilities {
		&__info {
			padding-right: 0;
			padding-left: 50px;
		}
		&__item {
			margin-top: 30px;
		}
	}

	.map {
		height: 260px;
	}
}

@media only screen and (max-width: 575.8px) {
	.first-screen {
		padding-top: 110px;
		height: 380px;
		.container {
			height: auto;
		}
		&__title {
			font-size: 18px;
			margin-bottom: 30px;
			margin-right: 15px;
			&_white {
				margin: 0 0 0 15px;
			}
		}
		&__text {
			display: flex;
		}
		&__social-link {
			display: none;
		}
	}

	.slider-first {
		&__item {
			height: 380px;
		}
		&__image-big {
			width: 100%;
		}
		.slick-dots {
			left: 50%;
		}
		.slick-counter {
			left: 35%;
		}
	}
}
