/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
.footer {
	padding: 64px 0 33px;
	background-color: $bg-footer;
	color: $text-white;
	&__contacts {
		margin-bottom: 24px;
		display: flex;
		align-items: flex-start;
		> img {
			width: 22px;
			margin-right: 24px;
		}
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	&__menu {
		line-height: 140%;
		li {
			margin-bottom: 9px;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	&__text {
		color: #787878;
		margin-bottom: 40px;
	}
	&__social-link {
		justify-content: center;
		margin-top: 54px;
		padding-top: 32px;
		border-top: 1px solid $border-dark;
	}

	.btn-white {
		&:hover {
			color: $base-text-color;
			background-color: $button-white;
		}
	}
}

@media only screen and (max-width: 1199.8px) {
	.footer {
		padding: 34px 0 20px;
		&__contacts {
			margin-bottom: 20px;
			> img {
				width: 18px;
				margin-right: 20px;
			}
		}
		&__social-link {
			margin-top: 34px;
			padding-top: 22px;
		}
	}
}

@media only screen and (max-width: 991.8px) {
}

@media only screen and (max-width: 767.8px) {
	.footer {
		&__menu {
			text-align: right;
		}
		&__text {
			text-align: center;
			margin: 24px auto;
			max-width: 230px;
		}
		&__social-link {
			margin-top: 24px;
		}
		.btn-white {
			margin: 0 auto;
		}
	}
}

@media only screen and (max-width: 575.8px) {
	.footer {
		&__contacts {
			text-align: center;
			max-width: 250px;
			margin: 0 auto 14px;
			justify-content: center;
			> img {
				margin-right: 14px;
			}
		}
		&__menu {
			margin-top: 20px;
			text-align: center;
			li {
				margin-bottom: 14px;
			}
		}
	}
}
