/*
================================================================================
|                                 GENERAL STYLE                                |
================================================================================
*/

body {
	margin: 0;
	position: relative;
	background-color: $base-bg;
	height: 100%;
	font-family: $base-font-family;
	font-size: $base-fs;
	line-height: $base-line-height;
	font-weight: 400;
	color: $base-text-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $second-font-family;
	font-weight: 600;
}

.wow {
	visibility: hidden;
}

.overflow-hidden {
	overflow: hidden;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.btn {
	@extend %center-center;
	width: 100%;
	height: 64px;
	font-family: $second-font-family;
	font-size: $base-fs + 2px;
	line-height: 140%;
	font-weight: 600;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	@include radius(40px);
	box-shadow: -16px 24px 24px rgba(49, 46, 46, 0.08);
	@include transition(0.4s);
	&_more {
		max-width: 180px;
	}
}

.btn-black {
	color: $text-white;
	background-color: $button-black;
	&:hover {
		color: $base-text-color;
		background-color: $button-white;
	}
}

.btn-white {
	color: $base-text-color;
	background-color: $button-white;
	&:hover {
		color: $text-white;
		background-color: $button-black;
	}
}

.link-all {
	display: inline-flex;
	align-items: center;
	font-family: $second-font-family;
	font-size: $base-fs + 2px;
	line-height: 140%;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	margin-top: 48px;
}

.circle-white {
	@include circle(64px, 64px);
	border: none;
	background: $button-white;
	box-shadow: -16px 24px 24px rgba(0, 0, 0, 0.08);
	margin-right: 16px;
	@include transition(0.3s);
	padding: 0;
	> svg {
		@include transition(0.3s);
	}
	&:hover {
		background: $button-black;
		> svg {
			fill: $base-bg;
		}
	}
}

.title-section {
	font-family: $second-font-family;
	color: $title-color;
	font-size: $font-size-h1;
	line-height: $line-height-h1;
	font-weight: 600;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	margin-bottom: 40px;
	&_white {
		color: $title-white;
		margin-bottom: 8px;
	}
}

.subtitle {
	position: absolute;
	top: 22px;
	bottom: 0;
	font-family: $second-font-family;
	font-size: $font-size-h2;
	line-height: $line-height-h2;
	letter-spacing: 0.2em;
	color: $title-gray;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	&_left {
		left: -60px;
	}
	&_right {
		right: 40px;
	}
	.line {
		display: block;
		flex: auto;
		border-left: 1px solid #d2cccc;
	}
	h3 {
		margin-left: -10px;
		@include transform(rotate(-180deg));
		writing-mode: vertical-rl;
		text-orientation: mixed;
		margin-bottom: 22px;
	}
}

.social-link {
	display: flex;
	&__item {
		margin-right: 80px;
		img {
			width: 22px;
		}
		&:last-of-type {
			margin-right: 0;
		}
	}
}

.image {
	position: relative;
	width: 100%;
	&__desc {
		position: absolute;
		bottom: 0;
		left: 0;
		text-align: center;
		height: 96px;
		width: 224px;
		font-size: $base-fs + 4px;
		@extend %center-center;
		flex-direction: column;
		background-color: $base-bg;
		&_right {
			left: auto;
			right: 0;
		}
		> p {
			overflow: hidden;
			white-space: nowrap;
			animation: typing 3.5s steps(20, end);
		}
		> small {
			display: block;
			font-size: $base-fs - 2px;
			line-height: 140%;
			letter-spacing: 0.15em;
			color: $text-gray;
			margin-top: 4px;
		}
		&::after {
			content: "";
			width: 64.5%;
			border-top: 1px solid #c4c4c4;
			position: absolute;
			bottom: 0;
			left: 50%;
			@include transform(translateX(-50%));
			animation: line 2s;
		}
	}
}

/* The typing effect */
@keyframes typing {
	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}

@keyframes line {
	from {
		width: 0;
	}
	to {
		width: 64.5%;
	}
}

.slick-dots {
	display: flex;
	align-items: center;
	position: absolute;
	z-index: 2;
	> li {
		width: 2px;
		height: 20px;
		background-color: $text-gray;
		margin-right: 12px;
		&:last-of-type {
			margin-right: 0;
		}
		&.slick-active {
			margin-top: -4px;
			height: 40px;
			background-color: $bg-dark;
		}
		> button {
			opacity: 0;
		}
	}
}

.slick-counter {
	position: absolute;
	font-family: $second-font-family;
	font-size: $base-fs - 2px;
	line-height: 120%;
	letter-spacing: 0.02em;
	color: $text-gray;
	z-index: 2;
	.total {
		&::before {
			content: "/";
			margin: 0 5px;
		}
	}
	.current {
		color: $text-dark;
	}
}

.breadcrumb {
	padding-top: 32px;
	margin-bottom: 40px;
	&__list {
		display: flex;
		font-size: $base-fs - 2px;
		letter-spacing: 0.15em;
	}
	&__item {
		color: $text-gray;
		display: flex;
		align-items: center;
		&::after {
			content: "";
			display: block;
			width: 4px;
			height: 4px;
			background-color: $text-gray;
			@include radius(50%);
			margin: 0 19px;
		}
		&:last-of-type {
			&::after {
				display: none;
			}
		}
		> a {
			color: $base-text-color;
		}
	}
}

.pagination {
	margin-bottom: 160px;
	&__item {
		font-family: $second-font-family;
		font-weight: 500;
		font-size: $base-fs - 4px;
		line-height: 140%;
		text-transform: uppercase;
		margin-right: 20px;
		&:nth-last-of-type(2) {
			margin-right: 0;
		}
		&:last-of-type {
			margin-right: 0;
		}
		&_prev {
			margin-right: 36px;
		}
		&_next {
			margin-left: 36px;
		}
		&.active {
			.pagination__link {
				color: $text-white;
				&::before {
					border-color: transparent;
					background-color: #312e2e;
					@include transform(rotate(45deg));
				}
			}
		}
	}
	&__link {
		position: relative;
		@extend %center-center;
		width: 32px;
		height: 32px;
		@include transition(0.4s);
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 32px;
			height: 32px;
			border: 2px solid #f5f5f5;
			@include transition(0.4s);
			z-index: -1;
		}
		&:hover,
		&.active {
			color: $text-white;
			&::before {
				border-color: transparent;
				background-color: #312e2e;
				@include transform(rotate(45deg));
			}
		}
	}
}

@media only screen and (max-width: 1560px) {
	.btn {
		height: 54px;
	}

	.circle-white {
		width: 54px;
		height: 54px;
	}

	.title-section {
		font-size: $font-size-h1 - 16px;
		margin-bottom: 30px;
	}

	.subtitle {
		font-size: $font-size-h2 - 6px;
		&_left {
			left: -50px;
		}
		&_right {
			right: 10px;
		}
	}

	.image {
		&__desc {
			height: 72px;
			font-size: $base-fs + 2px;
		}
	}

	.link-all {
		margin-top: 38px;
	}
}

@media only screen and (max-width: 1199.8px) {
	body {
		font-size: $base-fs - 2px;
	}

	.btn {
		height: 48px;
		font-size: $base-fs;
		&_more {
			max-width: 160px;
		}
	}

	.link-all {
		font-size: $base-fs;
		margin-top: 28px;
	}

	.circle-white {
		width: 48px;
		height: 48px;
		margin-right: 10px;
	}

	.title-section {
		font-size: $font-size-h2;
		line-height: $line-height-h2;
		margin-bottom: 20px;
	}

	.subtitle {
		font-size: $font-size-h3;
		line-height: $line-height-h3;
	}

	.social-link {
		&__item {
			margin-right: 50px;
			img {
				width: 18px;
			}
		}
	}

	.image {
		&__desc {
			width: 180px;
			height: 64px;
			font-size: $base-fs - 1px;
			> small {
				font-size: $base-fs - 5px;
			}
		}
	}

	.slick-dots {
		> li {
			height: 16px;
			&.slick-active {
				height: 34px;
			}
		}
	}

	.slick-counter {
		font-size: $base-fs - 3px;
	}

	.breadcrumb {
		padding-top: 26px;
		margin-bottom: 30px;
	}
}

@media only screen and (max-width: 991.8px) {
	body {
		font-size: $base-fs - 4px;
	}

	.btn {
		height: 42px;
		font-size: $base-fs - 2px;
		&_more {
			max-width: 120px;
		}
	}

	.link-all {
		font-size: $base-fs - 2px;
		margin-top: 18px;
	}

	.circle-white {
		width: 42px;
		height: 42px;
		margin-right: 10px;
	}

	.title-section {
		font-size: $font-size-h3;
		line-height: 120%;
	}

	.subtitle {
		top: 0;
		&_left {
			left: 0;
		}
		&_right {
			right: 16px;
		}
		font-size: $font-size-h4;
		line-height: $line-height-h4;
	}

	.social-link {
		&__item {
			margin-right: 40px;
		}
	}

	.image {
		&__desc {
			width: 150px;
			height: 52px;
			font-size: $base-fs - 4px;
			> small {
				font-size: 11px;
				margin: 0;
			}
		}
	}
}

@media only screen and (max-width: 767.8px) {
	.btn {
		max-width: 240px;
		&_more {
			max-width: 140px;
		}
	}

	.title-section {
		font-size: $font-size-h4;
	}

	.subtitle {
		&_left {
			left: 20px;
		}
		&_right {
			right: auto;
			left: 34px;
		}
		font-size: 20px;
		line-height: 120%;
	}

	.breadcrumb {
		&__list {
			font-size: $base-fs - 4px;
		}
	}
}

@media only screen and (max-width: 575.8px) {
}

@media only screen and (min-width: 1561px) {
	.container {
		max-width: 1534px;
	}
}
