/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
.header {
	position: relative;
	width: 100%;
	z-index: 100;
	padding: 32px 0;
	background-color: transparent;
	@include transition(0.3s);
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.04);
	&__nav {
		position: relative;
		display: flex;
		align-items: center;
		height: 48px;
	}
	&.fixed {
		position: fixed !important;
		padding: 16px 0;
		background-color: $base-bg;
		box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.04) !important;
		animation: move-header 0.6s ease;
		.menu {
			color: $text-dark;
			&_white {
				color: $text-dark;
			}
			&__item {
				&::after {
					background-color: $text-dark;
				}
				&:hover {
					color: $base-text-color;
				}
			}
		}

		.phone-number {
			border-color: $text-dark;
			color: $text-dark;
			> svg {
				fill: $text-dark;
			}
		}

		.dropdown__toggle {
			> svg {
				fill: $text-dark;
			}
		}
		.logo {
			&_black {
				display: block;
			}
			&_white {
				display: none;
			}
		}
	}
	.logo {
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%, -50%));
		&_black {
			display: block;
		}
		&_white {
			display: none;
		}
	}
	.phone-number {
		position: absolute;
		top: 50%;
		right: 15px;
		@include transform(translateY(-50%));
		width: 192px;
		height: 45px;
		line-height: normal;
		border: 1px solid $text-dark;
		@include radius(40px);
		@extend %center-center;
		> svg {
			margin-right: 9px;
			fill: $text-dark;
		}
	}
}

.index {
	.header {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		box-shadow: none;
	}
	.menu_white {
		color: $text-white;
		.menu__item {
			&::after {
				background-color: $text-white;
			}
			&:hover {
				color: $text-white;
			}
		}
	}
	.phone-number {
		border-color: $base-bg;
		color: $text-white;
		> svg {
			fill: $text-white;
		}
	}
}

.page-about-us {
	.header {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		box-shadow: none;
	}
	.menu {
		color: $text-white;
		&__item {
			&::after {
				background-color: $text-white;
			}
			&:hover {
				color: $text-white;
			}
		}
	}
	.phone-number {
		border-color: $base-bg;
		color: $text-white;
		> svg {
			fill: $text-white;
		}
	}

	.dropdown__toggle {
		> svg {
			fill: $text-white;
		}
	}
	.logo {
		&_black {
			display: none;
		}
		&_white {
			display: block;
		}
	}
}

.menu {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: $text-dark;
	font-size: $base-fs;
	line-height: 140%;
	&__btn {
		display: none;
	}
	&__col {
		display: flex;
		width: 500px;
	}
	&__item {
		position: relative;
		margin-right: 80px;
		cursor: pointer;
		&:last-of-type {
			margin-right: 0;
		}
		&::after {
			content: "";
			position: absolute;
			left: 0;
			width: 0;
			top: 100%;
			height: 2px;
			background-color: $text-dark;
			@include transition(width 0.3s);
		}
		&:hover {
			color: $base-text-color;
			&:after {
				width: 100%;
			}
		}
	}
	&__submenu {
		display: flex;
	}
	&__dropdown {
		display: flex;
		> ul {
			min-width: 190px;
			margin-right: 45px;
			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}

.dropdown {
	position: absolute;
	top: 100%;
	left: -11px;
	min-width: 180px;
	padding: 16px 11px;
	background: $base-bg;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.04);
	display: none;
	&__toggle {
		display: block;
		margin-left: 5px;
	}
	&__item {
		margin-bottom: 13px;
		&:last-of-type {
			margin-bottom: 0;
		}
		> a {
			color: $text-dark;
		}
	}
}

@keyframes move-header {
	0% {
		@include transform(translateY(-100%));
	}
	100% {
		@include transform(translateY(0));
	}
}

@media only screen and (max-width: 1560px) {
	.header {
		padding: 28px 0;
		.phone-number {
			width: 150px;
			height: 40px;
			font-size: $base-fs - 2px;
		}
		.logo {
			width: 180px;
			display: block;
		}
	}
	.menu {
		&__col {
			width: 386px;
		}
		&__item {
			margin-right: 30px;
		}
	}
}

@media only screen and (max-width: 1199.8px) {
	.header {
		padding: 24px 0;
		&.fixed {
			padding: 14px 0;
		}
		.phone-number {
			width: 140px;
			height: 35px;
			font-size: $base-fs - 3px;
			> svg {
				width: 12px;
				margin-right: 6px;
			}
		}
		.logo {
			width: 150px;
			display: block;
		}
	}

	.menu {
		font-size: $base-fs - 2px;
		&__col {
			width: 350px;
		}
		&__item {
			margin-right: 26px;
			&::after {
				height: 1px;
			}
		}
		&__dropdown {
			> ul {
				min-width: 170px;
				margin-right: 25px;
			}
		}
	}

	.dropdown {
		min-width: 170px;
	}
}

@media only screen and (max-width: 991.8px) {
	.header {
		padding: 14px 0;
		&__nav {
			justify-content: space-between;
			height: 40px;
		}
		.phone-number {
			position: static;
			top: auto;
			right: auto;
			@include transform(translateY(0));
			width: 150px;
		}
	}

	.page-about-us {
		.header {
			&.fixed {
				.menu {
					&__btn {
						> span {
							background-color: $button-black;
							&::after,
							&::before {
								background-color: $button-black;
							}
						}
					}
				}
			}
		}
		.menu {
			color: $text-dark;
			&__item {
				&::after {
					background-color: $text-dark;
				}
				&:hover {
					color: $text-dark;
				}
			}
			&__btn {
				> span {
					background-color: $base-bg;
					&::after,
					&::before {
						background-color: $base-bg;
					}
				}
				&.active {
					> span {
						background-color: $button-black;
						&::after,
						&::before {
							background-color: $button-black;
						}
					}
				}
			}
			.dropdown__toggle {
				> svg {
					fill: $text-dark;
				}
			}
		}
	}

	.menu {
		font-size: $base-fs - 2px;
		position: absolute;
		top: 0;
		left: 0;
		text-align: center;
		padding: 46px 0 20px;
		width: 260px;
		display: block;
		background-color: $base-bg;
		opacity: 0;
		font-size: $base-fs;
		@include transform(translateX(-100%));
		@include transition(0.5s ease);
		max-height: calc(100vh - 20px);
		overflow-y: auto;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
		z-index: 1;
		&.open {
			opacity: 1;
			@include transform(translateX(0));
		}
		&__btn {
			display: block;
			position: relative;
			height: 24px;
			width: 24px;
			background: transparent;
			cursor: pointer;
			padding: 0;
			z-index: 100;
			> span {
				display: block;
				position: absolute;
				top: 50%;
				margin-top: -1.5px;
				left: 0;
				width: 100%;
				height: 3px;
				background-color: $button-black;
				&::after,
				&::before {
					content: "";
					display: block;
					position: absolute;
					top: 50%;
					margin-top: -2px;
					left: 0;
					width: 100%;
					height: 3px;
					background-color: $button-black;
					@include transition(transform 0.4s);
				}
				&::after {
					@include transform(translateY(-6px));
				}
				&::before {
					@include transform(translateY(7px));
				}
			}
			&.active {
				> span {
					height: 0;
					&::after {
						@include transform(rotate(-42deg));
					}
					&::before {
						@include transform(rotate(42deg));
					}
				}
			}
		}
		&__col {
			display: block;
			width: auto;
		}
		&__item {
			margin-right: 0;
			margin-bottom: 14px;
			&::after {
				display: none;
			}
		}
		&__submenu {
			display: flex;
			justify-content: center;
		}
		&__dropdown {
			display: block;
			> ul {
				min-width: inherit;
				margin-right: 0;
				margin-bottom: 13px;
				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}

	.dropdown {
		position: static;
		top: auto;
		left: auto;
		min-width: 100%;
		padding: 16px 11px 6px;
		background: $base-bg;
		box-shadow: none;
		display: none;
		opacity: 0.6;
		&__item {
			margin-bottom: 13px;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	.index {
		.menu_white {
			color: $text-dark;
			.menu__item {
				&::after {
					background-color: $text-dark;
				}
				&:hover {
					color: $base-text-color;
				}
			}
		}
	}
}

@media only screen and (max-width: 767.8px) {
	.header {
		.container {
			max-width: 100%;
		}
	}
}

@media only screen and (max-width: 575.8px) {
	.header {
		.logo {
			left: 60px;
			width: 110px;
			@include transform(translate(0, -50%));
		}
		.phone-number {
			width: 120px;
			font-size: 12px;
			height: 30px;
		}
	}
}
