.modal-window {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 999;
	display: none;
	cursor: pointer;
	&__content {
		min-height: calc(100vh - 60px);
		max-height: calc(100vh - 60px);
		margin: 30px auto;
		width: 100%;
		opacity: 1;
		@include transition(transform 0.5s ease);
		@include transform(translateY(-50%));
		overflow-y: auto;
	}
	&__body {
		position: relative;
		margin: 0 auto;
		width: 100%;
		max-width: 720px;
		background-color: $base-bg;
		background-repeat: no-repeat;
		overflow: hidden;
		cursor: default;
		padding: 80px 80px 90px;
	}
	&__close {
		position: absolute;
		top: 25px;
		left: 34px;
		width: 30px;
		display: flex;
		cursor: pointer;
		padding: 0;
	}
	&.show {
		display: block;
		.modal-window__content {
			@include transform(translateY(0));
		}
	}
	&__form {
		width: 100%;
		.form {
			max-width: inherit;
			.title-section {
				font-size: $font-size-h2;
				margin-bottom: 30px;
			}
			&__group {
				display: flex;
				margin-bottom: 28px;
			}
			.btn-black {
				margin-top: 26px;
			}
		}
	}
}

@media only screen and (max-width: 991.8px) {
	.modal-window {
		&__body {
			max-width: 550px;
			width: 90%;
			padding: 60px 40px 40px;
		}
		&__close {
			width: 26px;
			left: auto;
			right: 26px;
		}
		&__form {
			.form {
				.title-section {
					font-size: $font-size-h3;
					margin-bottom: 20px;
				}
				&__group {
					margin-bottom: 20px;
				}
			}
		}
	}
}

@media only screen and (max-width: 575.8px) {
	.modal-window {
		&__body {
			padding: 40px 20px 20px;
		}
		&__close {
			top: 12px;
			right: 20px;
			width: 20px;
		}
		&__form {
			.form {
				.title-section {
					font-size: $font-size-h4 - 4px;
				}
			}
		}
	}
}

@media only screen and (min-width: 1200px) and (max-height: 870px) {
	.modal-window {
		&__body {
			padding-bottom: 50px;
		}
		&__form {
			.form {
				.title-section {
					font-size: $font-size-h3;
					margin-bottom: 20px;
				}
				&__group {
					margin-bottom: 20px;
				}
			}
		}
	}
}
